name: Release Plugin

on:
  release:
    types:
      - published

jobs:
  publish-plugin:
    name: Publish plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 21

      - name: Gradle wrapper validation
        uses: gradle/actions/wrapper-validation@v4

      - name: ./gradlew publishPlugins
        uses: gradle/gradle-build-action@v3
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
        with:
          arguments: publishPlugins
